@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-left: 1.5rem;
    letter-spacing: 0.8px;
}

p{
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    line-height: 1.3rem;
    margin-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (min-width: 1439px) {
    h1{
        font-size: 26px;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }

    p{
        margin-left: 1.9rem;
        font-size: 15px;
        margin-top: 0;
        line-height: 1.4rem;
    }
}